* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background: url(sussy-bot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quiz-container {
    width: 750px;
    height: 500px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.quiz-details-container {
    width: 80%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quiz-details-container h1 {
    font-size: 1.2rem;
}

.question-container {
    width: 80%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkgray;
    border-radius: 25px;
}

.question-container h1 {
    font-size: 1.1rem;
    text-align: center;
    padding: 3px;
}

.answers-container {
    width: 80%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.answers-container span {
    width: 45%;
    height: 70px;
    border: 2px solid darkgray;
    border-radius: 20px;
    overflow: hidden;
}

span label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: rgb(22, 22, 22);
}

span label:hover{
    transform: scale(1.12);
    color: white;
}

input[type="radio"] {
    position: relative;
    display: none;
}

input[type=radio]:checked ~ .answer {
    background: cyan;
}

.advance-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.advance-button-container button{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: rgb(25, 25, 25);
    font-weight: 600;
    border: 2px solid gray;
    cursor: pointer;
    outline: none;
}
.advance-button-container button:hover{
    background-color: rgb(143, 93, 93);
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container {
    height: 400px;
    width: 550px;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1 {
    font-size: 1.3rem;
    height: 3rem;
    color: lightgray;
    text-align: center;
}

.score-details {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score-details p {
    color: white;
    text-align: center;
}

.modal-button-container {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button {
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}
.modal-button-container button:hover {
    background-color: rgb(83, 82, 82);
}